<!-- <div *ngIf="user; else noUserSelected" class="chart-container">
  <h2>{{ user.name }}'s Workout Time</h2>
  <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="chartData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>
<ng-template #noUserSelected>
  <p>Select a user to view the chart.</p>
</ng-template> -->
